<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/libs/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/libs/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/static/css/app.css" rel="stylesheet"/>
    <script src="/static/libs/js/angular.min.js"></script>
    <script src="/static/libs/js/angular-resource.min.js"></script>
    <script src="/static/libs/js/ui-bootstrap-tpls-0.3.0-SNAPSHOT.min.js"></script>
    <script src="/static/libs/js/angular-ui.min.js"></script>


    <!--[if lte IE 8]>
    <script src="/static/libs/js/angular-ui-ieshiv.min.js"></script>
    <script src="/static/libs/js/json3.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLHPkWz46yZRKqIbSn-hpOCOBOUE_NRjk&sensor=true">
    </script>
    <script src="/static/js/app.js"></script>
</head>
<body ng-app="Piscine" ng-controller="MainCtrl" class="ng-app:Piscine" id="ng-app">

    <div id="main" class="container-fluid">
        <h1>π-cine</h1>

        <div id="piscine-details" class="row-fluid">
            <div class="span3">
                <table class="table table-striped">
                    <tr ng-repeat="piscine in piscines" ng-click="selectPiscine(piscine);">
                        <td>{{piscine.properties.Name}}</td>
                    </tr>
                </table>
            </div>
            <a name="map"></a>
            <div id="map-canvas" class="span9">
            </div>
        </div>
    </div>
</body>
</html>
